.NavigationItem {
    margin: 10px 5px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    text-decoration: none;
    width: 100%;
    min-height: 45px;
    line-height: 45px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    color: white;
    text-align: center;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background: #CF8F2E;
    border-bottom: 4px solid white;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0 0 0 5px;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        min-height: 100%;
        line-height: 100%;
        padding: 16px 10px;
        text-align: left;
    }
}